
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;

   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   font: inherit;
   box-sizing: content-box;
   color: inherit;

   background: transparent;
 }




#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}



  .modal {
    align-self: center;
    justify-content: center;
    flex-direction: column;
    background:rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 3px solid #000;
    background: #fff;
    padding: 20px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    vertical-align: center;
    height: 300px;
    width: 600px;
    margin-left: -300px;
    margin-top: -300px;
  }

  .modal a {
    display: block;
    margin-top: 50px;
    padding: 10px;
    background: green;
    color: white;
  }

  .modal a:hover {
    cursor: pointer;
    background: #78AB46;
  }

.modal-paragraph {
  display: block;
  margin-top: 10px;
}


 /* --- Body --- */

body {
  font-family: monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
}

 /* --- Header --- */

 header {
   width: 100%;
   background: #6495ed;
   border-bottom: 2px solid #ccc;
 }

nav {
  color: white;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  width: 900px;
  height: 40px;
}

h1 {
  line-height: 1
}

#icon {
  height: 40px;
  width: 40px;
}

#title {
  font-family: monospace;
  font-size: 16px;
  padding: 15px 10px;
}



 /* --- Main --- */

 main {
   height: 610px;
   width: 920px;
 }


#instructions {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
}

lesson {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

score {
  align-self: center;
}

canvas {
  display: flex;
  align-content: center;
}

canvas:hover {
  cursor: pointer;
}

 /* --- Score --- */

 .score-ctn {
   margin: 20px 0;
 }

 .score-title {
   display: block;
   text-align: center;
   background: #000080;
   padding: 20px;
   font-size: 20px;
   color: #fff;
 }

 .score-result {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #fff;
   height: 80px;
   width: 120px;
   border: 1px solid #ccc;
   font-size: 40px;
   text-align: center;
   color: #00FF00;
 }

 /* --- Footer --- */


footer {
 border-top: 2px solid #ccc;
  width: 100%;
  background: #6495ed;
  color: #fff;
  font-size: 14px;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding: 10px;
}

copyright {
  width: 180px;
  align-self: center;
}

.footer-contact-info {
  display: flex;
  list-style: none;
}

.footer-contact-info > li {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer-contact-info > li:hover {
  cursor: pointer;
}

.footer-content img {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  margin-bottom: 2px;
}


p {
  display: inline;
}

.dropdown {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 80px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #000;
}

.dropdown > a {
  display: block;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 18px;
  left: -1px;
  width: 76px;
  background-color: white;
  padding: 4px;
  color: #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content > a {
  display: block;
  padding: 5px;
}

.dropdown-content > a {
  border-bottom: 1px solid #ccc;
}

.dropdown-content > a:last-child {
  border-bottom: none;
}

.dropdown-content > a:hover {
  background: #eee;
}

#vertical {
  display: block;
  padding: 0 40px;
}

#checkAnswer {
  background: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#checkAnswer:hover {
  cursor: pointer;
  background: #78AB46;
}
